@page "/addpatient"

@using WoundClinic.Data
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using WoundClinic.Models
@using WoundClinic.Services.IRepository

@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider



<PageTitle>ثبت نام بیمار</PageTitle>
<div class="d-flex  col-4">
    <div class="card card-primary">
        <div class="card-header">
            <h3>ثبت بیمار</h3>
        </div>
        <WoundClinic.Components.Patient.Shared._AddPatientComponent/>
    </div>
</div>

@code
{
    private bool _hasRendered = false;

    protected override Task OnInitializedAsync()
    {
        _hasRendered = true;
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasRendered)
        {
            _hasRendered = true;
            await CheckUserAuthentication();
            StateHasChanged();
        }
    }

    
}


