@page "/addpatient"
@using WoundClinic.Data

<div class="col-4">
    <div class="card card-primary">
        <div class="card-header">
            <h3>ثبت بیمار</h3>
        </div>


        <WoundClinic.Components.Pages.Component._UserRegisterComponent>

        </WoundClinic.Components.Pages.Component._UserRegisterComponent>



    </div>
</div>


