@page "/addpatient"

@using WoundClinic.Data
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using WoundClinic.Models
@using WoundClinic.Services.IRepository

<div class="col-4">
    <div class="card card-primary">
        <div class="card-header">
            <h3>ثبت بیمار</h3>
        </div>
        <WoundClinic.Components.Patient.Components._AddPatientComponent/>
    </div>
</div>


