@using WoundClinic.Data



<EditForm FormName="AddPatient" Model="Patient">
    <div class="card-body">

        <div class="form-group">
            <label for="nationalCode">کد ملی</label>
            <InputNumber id="nationalCode" class="form-control" @bind-Value="Patient.NationalCode" />
        </div>
        <div class="form-group">
            <label for="firstName">نام</label>
            <InputText id="firstName" class="form-control" @bind-Value="Person.FirstName" />
        </div>
        <div class="form-group">
            <label for="lastName">نام خانوادگی</label>
            <InputText id="lastName" class="form-control" @bind-Value="Person.LastName" />
        </div>
        <div class="form-group">
            <label for="gender">جنسیت</label>
            <InputSelect id="gender" class="form-control" @bind-Value="Person.Gender">
                <option value="true">مرد</option>
                <option value="false">زن</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="mobileNumber">شماره همراه</label>
            <InputNumber id="mobileNumber" class="form-control" @bind-Value="Patient.MobileNumber" />
        </div>
        <div class="form-group">
            <label for="address">آدرس</label>
            <InputText id="address" class="form-control" @bind-Value="Patient.Address" />
        </div>
    </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit">ثبت</button>
        </div>
</EditForm>


@code {
    public Patient Patient { get; set; } = new Patient();
    public Person Person { get; set; } = new Person();

    public async Task CreatePatient()
    {

    }
}