@page "/login"
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <p class="h1"><b>سامانه مدیریت کلینیک زخم بیمارستان سیدالشهدا</b></p>
        </div>
        <div class="card-body">
            <p class="login-box-msg">ورود</p>

            <form action="" method="post">
                
                <div class="input-group mb-3">
                    <input name="username" class="form-control inputBrClass" placeholder="نام کاربری" />
                    <div class="input-group-append">
                        <div class="input-group-text brClass">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="password" type="password" class="form-control inputBrClass" placeholder="رمز ورود" />
                    <div class="input-group-append">
                        <div class="input-group-text brClass">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row d-flex  ">
                    
                    <!-- /.col -->
                        <button type="submit" class="btn btn-primary btn-block">ورود</button>
                    
                    <!-- /.col -->
                </div>
            </form>
            

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@code {

}
